#Tue Jul 14 06:37:12 JST 2026
filter.showAllRepeat=true
filter.showEnded=false
filter.showFar=false
filter.showImminent=true
filter.showLowPriority=true
filter.showSoon=true
snd.wav.dir=C\:\\tools2\\etc\\wav
window.main.x=-1
window.main.y=-1
window.main.width=800
window.main.height=500
window.main.dividerRatio=-1.0
table.columnWidths=
window.edit.width=-1
window.edit.height=-1
window.instant.width=-1
window.instant.height=-1
debug.enabled=false
